<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/assets/css/Login.css" rel="stylesheet">
    </link>
</head>

<body>
    <main class="container">
        <div class="loginDetails">

            <div>
                <img src="/assets/img/Medipal.jpg" height="150px">
            </div>
            <h2>Welcome Back</h2>

            <form>
                <div class="Loginform">
                    <label>E-mail or Username:</label>
                    <input type="text" name="userName" placeholder="E-mail or Username">
                </div>

                <div class="Loginform">
                    <label>Password:</label>
                    <input type="password" name="Password" placeholder="Password">
                </div>
            </form>
            <hr>

            <div class="loginBtn">
                <button type="submit">Log in</button>
                <button type="submit">Forgot password</button> </div>
        </div>

        <div>
            <p>Don't have an account?
                <a href="Signup.html">Signup</a>
            </p>
        </div>
    </main>
</body>

</html>